/* Flexislider Default Settings */
.pllexislider { margin: 0; padding: 0; }
.pllexislider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.pllexislider .slides img {width: 100%; display: block;}
.pllexislider .slides:after { display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
 .flex-pauseplay span {text-transform: capitalize;}
.pllexislider, .pllexislider .slides li, .pllexislider .slides > li > a { height: 100%; }

/* no list style */
 .no-bullet { list-style:none; margin:0; }

/* Flexi Slider Template */
.pllexislider { margin: 0; position: relative; }
 .flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
 .loading .flex-viewport { max-height: 300px; }
.pllexislider .slides { zoom: 1; }

/* Thumbnails Template */
 .thumbnails > li { margin:0 auto; display: inline-block; *display:inline; float: none; width:24%;}

/* Control Nav */
.pllexislider .flex-control-nav { z-index:2; position: absolute;  top: 0.8em;  right:0.8em; text-align: center;}
.pllexislider .flex-control-nav li {margin: 0 3px; display: inline-block; zoom: 1; *display: inline;}
.pllexislider .flex-control-paging li a {width: 13px; border: none; height: 13px; display: block; background: #fff; background: rgba(255,255,255,255,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); box-shadow: inset 0 0 2px rgba(0,0,0,0.3); }
.pllexislider .flex-control-paging li a:hover { background: #fff; background: rgba(255,255,255,0.7); }
.pllexislider .flex-control-paging li a.flex-active { background: #fff; background: rgba(255,255,255,0.9); cursor: default; }

/* Description and Time */
 .instadescription p { margin-top:5px; margin-bottom: 5px; display: block;}
 .instatime { margin-top:5px; width: 40%; float:right; text-align: right; } 

